.bg::before {
    content: "";
    background: url(../../media/pics/background-main.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

#all {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

.body {
  margin-top: 90px;
  margin-right: auto;
  max-width: 1200px;
}

.body-title small, .body-title .small {
  font-weight: normal;
  font-size: 65%;
  line-height: 1;
  color: #777777;
}

@media (min-width: 850px) {
  .body-content {
    margin-right: 40px;
  }
}

@media (max-width: 850px) {
  .body-right-column {
    margin-top: 2em;
  }
}

.banner-pos-container {
    min-height: 300px !important;
    min-width: 800px !important;
    max-width: 100%;
}

.body-block {
  margin-bottom: 2.5em;
}

.paginator-block {
  margin-bottom: 6em;
}

.prefooter-block {

}

.prefooter-block div {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

.body-block-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}

.body-block-title small, .body-block-title .small {
  color: #777777;
  line-height: 1;
  font-weight: normal;
  font-size: 75%;
}


.footer > .navbar-header, .footer > .navbar-collapse {
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 850px) {
  .footer > .navbar-header, .footer > .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
  }
}


.navbar {
  opacity: .97;
}

.navbar-brand {
  padding: 15px 15px;
  margin-top: 0px;
  height: 102px;
  display: flex;
  font-size: 20px;
  align-items: center;
}

.navbar-nav>li>a {
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 300;
}

.navbar-brand, .navbar-nav>li>a {
  height: 110px;
  line-height: 110px;
}

.navbar-header>.navbar-text {
  margin-right: 0px;
}

.navbar-nav {
  margin: 5px 0px;
}

.navbar-toggle {
  margin-top: 30px;
  margin-bottom: 35px;
  padding: 27px 30px;
}

.navbar>.container {
  min-width: 420px;
}

@media (min-width: 1200px) {
  .navbar>.container {
    width: 1240px;
  }
}

.dropdown-header{
  font-size: 14px;
}

.dropdown-menu{
  top: 65%;
  font-size: 16px;
}

.dropdown-menu>li{
  padding: 3px 10px;
}

.dropdown-menu>.divider {
  padding: 0px;
}

html {
  position: relative;
  min-height: 100%;
}

body > .container > object {
  width: inherit;
  min-width: 420px;
  min-height: 420px;
}

body {
    background-color(255, 255, 255, 0.25) !important;
}

.mbou-dropdown-btn {
  width: inherit;
}

.mbou-input-wide {
  width: 80%;
}

.btn-group-vertical {
  display: block;
}

.card-menu {
    padding: 0 !important;
}

#accordion > .card > div > .card-body > .card-link {
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.btn-menu {
    display: block;
    width: 100%;
}


.categories {
  line-height: 2.4em;
}

.categories-category {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  font-size: .9em;
  line-height: 1;
  color: #FFFFFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  margin-left: 1.3em;
  padding: .3em .3em .3em;
}

.categories-category:hover, .categories-category:focus {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.categories-category:empty {
  display: none;
}

.btn .categories-category {
  position: relative;
  top: -1px;
}

.categories-category-default {
  background-color: #777777;
}

.categories-category-default[href]:hover, .categories-category-default[href]:focus {
  background-color: #5E5E5E;
}

.categories-category-primary {
  background-color: #337AB7;
}

.categories-category-primary[href]:hover, .categories-category-primary[href]:focus {
  background-color: #286090;
}

.categories-category-success {
  background-color: #5CB85C;
}

.categories-category-success[href]:hover, .categories-category-success[href]:focus {
  background-color: #449D44;
}

.categories-category-info {
  background-color: #5BC0DE;
}

.categories-category-info[href]:hover, .categories-category-info[href]:focus {
  background-color: #31B0D5;
}

.categories-category-warning {
  background-color: #F0AD4E;
}

.categories-category-warning[href].hover, .categories-category-warning[href]:focus {
  background-color: #EC971F;
}

.categories-category-danger {
  background-color: #D9534F;
}

.categories-category-danger[href]:hover, .categories-category-danger[href]:focus {
  background-color: #C9302C;
}

.document {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 2em;
}

.document-noborder {
  border-width: 0px;
}

.document-grey {
  background-color: rgba(250, 250, 250, 0.6);
}

.document-white {
  background-color: #FFFFFF;
}

.document-info:before, .document-info:after {
  content: " ";
  display: table;
}

.document-info:after {
  clear: both;
}

.document-info small, .document-info .small {
  text-align: center;
}

.document-title {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.document-title small, .document-title .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
  font-size: 75%;
}

.document-title-big {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}

.document-title-big small, .document-title-big .small {
  font-weight: normal;
  color: #777777;
  line-height: 1;
  font-size: 65%;
}

.document-text {
  line-height: 1.5em;
}

.document .document-userpic-container {
  width: 20%;
  min-width: 220px;
  max-width: 300px;
  float: left;
  text-align: center;
  margin-top: .5em;
}

.document .document-userpic-container .userpic {
  width: 80%:
  height: 80%;
  min-width: 50px;
  min-height: 50px;
}

.document-data {
  margin-left: .7em;
  width: 65%;
  max-width: 700px;
  float: left;
  text-align: center;
}

.document-text {
  text-align: left;
}

.document-controls {
  line-height: 2.4em;
  margin-top: 1em;
  margin-left: 3em;
}

.document-controls:before, .document-controls:after {
  content: " ";
  display: table;
}

.document-controls:after {
  clear: both;
}

.document-vote {
  width: 45%;
  max-width: 250px;
  float: left;
  text-align: center;
}

.document-vote-count {
  font-weight: bold;
}

@media (max-width: 850px) {
  .document-vote {
    width: 50px;
    text-align: left;
  }
}

.document-ansref {
  float: left;
  margin-left: 1em;
}

.document-categories {
  float: right;
  text-align: right;
}

@media (max-width: 850px) {
  .document-categories {
    float: none;
    width: 100%;
  }
}

.mbou-media {
  width: 80%;
  max-width: 880px;
  min-width: 700px;
  height: 80%;
  max-height: 1244px;
  min-height: 600px;
}

.footer {
    background-color: rgba(255, 255, 255, 0.35);
}

@media print {
  #navbar, .navbar-toggle, .sidebar, footer {
    display: none;
  }

  .container, .main, .row {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

.sidebar {
  height: calc(100vh+110px);
  opacity: .97;
  position: sticky;
  top: 118px;
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 300px !important;
}

.main {
    min-width = 980px;
    background-color: rgba(255, 255, 255, 0.25);
}

#accordion > .card, #accordion > .card > .card-header, #accordion > .card > .card-header > button {
    border-width: 0px !important;
}

.bg-info {
  background-color: #d9edf7;
}

ul.nav-tabs > li.active > a, ul.nav-tabs > li.active > a:focus {
  background-color: #e7e7e7;
}


.nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #afd9ee;
}

.sign-in-form {
  width: 100%;
  max-width: 400px;
  margin-top: 1.2em;
  margin-left: auto;
  margin-right: auto;
}

.login-form-error {
  clear: both;
}

.signup-form-error {
  clear: both;
}

.sign-up-form-userpic-input {
  margin-top: .5em;
}

.navbar {
  z-index: 1;
}

.prefoot {
   /* margin: 30px 0 0;*/
    overflow: hidden;
	float: left;
    width: 100%;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.25);
}

.prefoot div {
    background-color: rgba(255, 255, 255, 0.25);
}

.prefoot .site {
    border: 1px solid #D8DADD;
    color: #8C96A0;
    cursor: pointer;
    float: left;
    font-size: 10px;
    height: 68px;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
	margin-left: 10px;
    padding: 10px 5px 0;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    width: 203px;
    background-color: rgba(255, 255, 255, 0.8);
}

.prefoot .site:hover {
    border-color: #65A3FE;
    color: #505860;
}

.site span  {
    white-space: pre-wrap;
}

.site em {
    bottom: 10px;
    color: #00A0DC;
    font-style: normal;
    left: 10px;
    position: absolute;
    text-shadow: none;
}



#js-show-iframe-wrapper{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    min-width:293px;
    max-width:100%;
    min-height: 300px;
    background:linear-gradient(138.4deg,#38bafe 26.49%,#2d73bc 79.45%);
    color:#fff;
    cursor:pointer
}

#js-show-iframe-wrapper .pos-banner-fluid *{
    box-sizing:border-box
}

#js-show-iframe-wrapper .pos-banner-fluid .pos-banner-btn_2 {
    display:block;
    width:240px;
    min-height:56px;
    font-size:18px;
    line-height:24px;
    cursor:pointer;
    background:#0d4cd3;
    color:#fff;
    border:none;
    border-radius:8px;
    outline:0
}

#js-show-iframe-wrapper .pos-banner-fluid .pos-banner-btn_2:hover {
    background:#1d5deb
}

#js-show-iframe-wrapper .pos-banner-fluid .pos-banner-btn_2:focus {
    background:#2a63ad
}

#js-show-iframe-wrapper .pos-banner-fluid .pos-banner-btn_2:active {
    background:#2a63ad
}

@-webkit-keyframes fadeInFromNone{
    0% {
        display:none;
        opacity:0
    }
    1% {
        display:block;
        opacity:0
    }
    100% {
        display:block;
        opacity:1
    }
}

@keyframes fadeInFromNone {
    0% {
        display:none;
        opacity:0
    }
    1% {
        display:block;
        opacity:0
    }
    100% {
        display:block;
        opacity:1
    }
}

@font-face{
    font-family:LatoWebLight;
    src:url(https://pos.gosuslugi.ru/bin/fonts/Lato/fonts/Lato-Light.woff2) format("woff2"),url(https://pos.gosuslugi.ru/bin/fonts/Lato/fonts/Lato-Light.woff)format("woff"),url(https://pos.gosuslugi.ru/bin/fonts/Lato/fonts/Lato-Light.ttf) format("truetype");
    font-style:normal;
    font-weight:400
}

@font-face{
    font-family:LatoWeb;
    src:url(https://pos.gosuslugi.ru/bin/fonts/Lato/fonts/Lato-Regular.woff2) format("woff2"),url(https://pos.gosuslugi.ru/bin/fonts/Lato/fonts/Lato-Regular.woff) format("woff"),url(https://pos.gosuslugi.ru/bin/fonts/Lato/fonts/Lato-Regular.ttf) format("truetype");
    font-style:normal;
    font-weight:400
}

@font-face{
    font-family:LatoWebBold;
    src:url(https://pos.gosuslugi.ru/bin/fonts/Lato/fonts/Lato-Bold.woff2) format("woff2"),url(https://pos.gosuslugi.ru/bin/fonts/Lato/fonts/Lato-Bold.woff) format("woff"),url(https://pos.gosuslugi.ru/bin/fonts/Lato/fonts/Lato-Bold.ttf) format("truetype");
    font-style:normal;
    font-weight:400
}

#js-show-iframe-wrapper .bf-2{
    position:relative;
    display:grid;
    grid-template-columns:var(--pos-banner-fluid-2__grid-template-columns);
    grid-template-rows:var(--pos-banner-fluid-2__grid-template-rows);
    width:100%;
    max-width:1060px;
    font-family:LatoWeb,sans-serif;
    box-sizing:border-box
}

#js-show-iframe-wrapper .bf-2__decor{
    grid-column:var(--pos-banner-fluid-2__decor-grid-column);
    grid-row:var(--pos-banner-fluid-2__decor-grid-row);
    padding:var(--pos-banner-fluid-2__decor-padding);
    background:var(--pos-banner-fluid-2__bg-url) var(--pos-banner-fluid-2__bg-position) no-repeat;
    background-size:var(--pos-banner-fluid-2__bg-size)
}

#js-show-iframe-wrapper .bf-2__logo-wrap{
    position:absolute;
    top:var(--pos-banner-fluid-2__logo-wrap-top);
    bottom:var(--pos-banner-fluid-2__logo-wrap-bottom);
    right:0;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    padding:var(--pos-banner-fluid-2__logo-wrap-padding);
    background:#2d73bc;
    border-radius:var(--pos-banner-fluid-2__logo-wrap-border-radius)
}

#js-show-iframe-wrapper .bf-2__logo{
    width:128px
}

#js-show-iframe-wrapper .bf-2__slogan{
    font-family:LatoWebBold,sans-serif;
    font-size:var(--pos-banner-fluid-2__slogan-font-size);
    line-height:var(--pos-banner-fluid-2__slogan-line-height)
}

#js-show-iframe-wrapper .bf-2__content{
    padding:var(--pos-banner-fluid-2__content-padding)
}

#js-show-iframe-wrapper .bf-2__description{
    display:flex;
    flex-direction:column;
    margin-bottom:24px
}

#js-show-iframe-wrapper .bf-2__text{
    margin-bottom:12px;
    font-size:24px;
    line-height:32px;
    font-family:LatoWebBold,sans-serif
}
#js-show-iframe-wrapper .bf-2__text_small{
    margin-bottom:0;
    font-size:16px;
    line-height:24px;
    font-family:LatoWeb,sans-serif
}

#js-show-iframe-wrapper .bf-2__btn-wrap{
    display:flex;
    align-items:center;
    justify-content:center
}
