{% extends "news.html" %}

{% block title %}
    Сведения об образовательной организации - структура и органы управления образовательной организацией
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>Структура и органы управления образовательной организацией</h2> 
    </div>
    <p><b><i>Структурных подразделений и филиалов МБОУ СОЩ №7 г. Лобня <u>не имеет</u></i></b></p>
    <hr/>
    <ul style="list-style: none">
        <li>
            <b>Администрация города Лобня:</b>
            <ul style="list-style: none">
                <li>
                    <p><b><i>Адрес:</i></b> 141730, Российская Федерация,
                        Московская область, г. Лобня, ул. Ленина, д. 21 </p>
                </li>
                <li><p><b><i>Телефон:</i></b> (495)577-12-43</p></li>
                <li>
                    <p><b><i>Электронная почта:</i></b> <a href="mailto:lobadm@lobadm.ru">lobadm@lobadm.ru</a></p>
                </li>
                <li><b><i><a href="http://лобня.рф" style="text-decoration: none">Официальный сайт</a></i></b></li>
            </ul>
        </li>
        <li>
            <b>Управление образования Администрации города Лобня:</b>
            <ul style="list-style: none">
                <li><p><b><i>ИНН/КПП:</i></b> 502003588/502501001</p></li>
                <li>
                    <p><b><i>Адрес: 141730, Российская Федерация, Московская область, ул. Ленина, д. 4</i></b></p>
                </li>
                <li>
                    <b><i>График работы:</i></b>
                    <ul>
                        <li><p>Понедельник-четверг: с 9:00 до 18:00</p></li>
                        <li><p>Пятница: с 9:00 до 16:45</p></li>
                        <li><p>Обеденный перерыв: с 13:00 до 14:00</p></li>
                    </ul>
                </li>
                <li><p><b><i>Начальник управления:</i></b> Зиновьев Владимир Анатольевич</p></li>
                <li>
                    <p>
                        <b><i>Электронная почта:</i></b>&nbsp;
                        <a href="mailto:obrazovanie@lobnya.com" style="text-decoration: none;">
                            obrazovanie@lobnya.com
                        </a>
                    </p>
                </li>
                <li>
                    <b><i><a href="http://uolobnya.ru" style="text-decoration: none;">Официальный сайт</a></i></b>
                </li>
            </ul>
        </li>
        <li>
            <hr/>
            <b>МБОУ СОШ №7 города Лобня</b><a href="#" style="text-decoration: none">структура</a>
            <br/>
            <ul style="list-style: none">
                <li>
                    <b><i><a href="#" style="text-decoration: none">
                        Календарный учебный график на 2017-2018 учебный год
                    </a></i></b>
                </li>
            </ul>
            <b>Администрация:</b>
            <ul style="list-style: none">
                <li>
                    <p><b><i>Директор:</i></b>&nbsp;Черкасова Марина Николаевна</p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:sosh7lobnya@inbox.ru" style="text-decoration: none">
                                    sosh7lobnya@inbox.ru
                                </a>
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p><b><i>Заместитель директора по УВР:</i></b>&nbsp;Блажко Алевтина Александровна</p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:sosh7lobnya@inbox.ru" style="text-decoration: none">
                                    sosh7lobnya@inbox.ru
                                </a>
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p><b><i>Заместитель директора УВР:</i></b>&nbsp;Якушева Ольга Юрьевна</p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:sosh7lobnya@inbox.ru" style="text-decoration: none">
                                    sosh7lobnya@inbox.ru
                                </a>
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p><b><i>Заместитель директора по УВР:</i></b>&nbsp;Трошина Илона Александровна</p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:sosh7lobnya@inbox.ru" style="text-decoration: none">
                                    sosh7lobnya@inbox.ru
                                </a>
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>
                        <b><i>
                            Заместитель директора по учебно-методической работе:
                        </i></b>
                        &nbsp;Ганичкина Марина Павловна
                    </p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:sosh7lobnya@inbox.ru" style="text-decoration: none">
                                    sosh7lobnya@inbox.ru
                                </a>
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>
                        <b><i>
                            Заместитель директора по информатизации образовательного процесса:
                        </i></b>
                        &nbsp;Дорина Татьяна Геннадьевна
                    </p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:sosh7lobnya@inbox.ru" style="text-decoration: none">
                                    sosh7lobnya@inbox.ru
                                </a>
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p><b><i>Заместитель директора по ВР:</i></b>&nbsp;Михальчук Евгения Евгеньевна</p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:sosh7lobnya@inbox.ru" style="text-decoration: none">
                                    sosh7lobnya@inbox.ru
                                </a>
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p><b><i>Заместитель директора по безопасности:</i></b>&nbsp;</p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:sosh7lobnya@inbox.ru" style="text-decoration: none">
                                    sosh7lobnya@inbox.ru
                                </a>
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p><b><i>Заместитель директора по АХЧ:</i></b>&nbsp;Степанян Наталья Георгиевна</p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:sosh7lobnya@inbox.ru" style="text-decoration: none">
                                    sosh7lobnya@inbox.ru
                                </a>
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <b><i><a href="{% url 'council' %}" style="text-decoration: none">
                Управляющий совет МБОУ СОШ №7 города Лобня
            </a></i></b>
        </li>
    </ul>
    <hr/>
{% endblock %}
