{% extends "news.html" %}

{% block title %}
Сведения об образовательной организации - образование
{% endblock %}

{% block content %}
    <div class="page-header d-flex justify-content-center">
        <h2>Образование</h2>
    </div>
    <ul style="list-style: none">
        <li>
            <h4>
                <a href="{% url 'main_docs' %}">Учредительные документы</a>
            </h4>
        </li>
        <li>
            <h3 class="text-align-center">Реализуемые уровни образования</h3>
            <ul style="list-style: none">
                <li>
                    <h4>Общее образование</h4>
                    <ol>
                        <li>Начальное общее образование</li>
                        <li>Основное общее образоваание</li>
                        <li>Среднее общее образование</li>
                    </ol>
                </li>
                <li>
                    <h4>Дополнительное образование</h4>
                    <ol>
                        <li>Дополнительное образование для детей и взрослых</li>
                    </ol>
                </li>
            </ul>
        </li>
        <li><hr/></li>
        <li>
            <h3 class="text-align-center">Формы обучения</h3>
            <table>
                <tbody>
                    <tr>
                        <td colspan="2" align="center">Формы получения образования</td>
                    </tr>
                    <tr>
                        <td>
                            В организациях, осуществляющих образовательную деятельность (п.1 ч.1 ст.17 Закона)
                        </td>
                        <td>
                            Вне организаций, осуществляющих образовательную деятельность (п.2 ч.1 ст.17 Закона)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul style="list-style: none;">
                                <li>Очная (ч.2 ст.17 Закона)</li>
                                <li>Заочная (ч.2 ст.17 Закона)</li>
                                <li>Очно-заочная (ч.2 ст.17 Закона)</li>
                                <li>Семейное образование (п.2 ч.1 ст.17 Закона)</li>
                            </ul>
                        </td>
                        <td>Самообразование (п.2 ч.1 ст.17 Закона)</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><b>Кто вправе обучаться по такой форме</b></td>
                    </tr>
                    <tr>
                        <td>Учащиеся 1-11-х классов (ч.2 ст.62 Закона)</td>
                        <td>Учащиеся 10-11-х классов (ч.2 ст.62 Закона)</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><b>Кто имеет право выбора такой формы обучения</b></td>
                    </tr>
                    <tr>
                        <td>
                            Законные представители обучающегося с учетом мнения ребенка (до получения им основного
                            общего образования или до достижения возраста 18 лет) (п.1 ч.3 ст.44 Закона). Учащийся
                            после получения основного общего образования или достижения возраста 18 лет (п.1 ч.1
                            ст.34 Закона)
                        </td>
                        <td>Учащийся (п.1 ч.1 ст.34 Закона)</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <b>
                                Место прохождения учащимися государственной итоговой аттестации по образовательным
                                программам основного общего образования
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            В ППЭ, места расположения которых определяются органами исполнительной власти субъекта РФ,
                            осуществляющими государственное управление в сфере образования, учредителями
                            и загранучреждениями по согласованию с ГЭК (п.32 Порядка проведения государственной
                            итоговой аттестации по образовательным программам основновного общего образования,
                            утвержденного приказом Минобрнауки России от 25 декабря 2013 года №1394)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <b>
                                Особенности освоения общеобразовательных программ учащимися, нуждающимися
                                в&nbsp;длительном лечении и детьми-инвалидами, которые по состоянию здоровья
                                не&nbsp;могут посещать образовательные организации
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            Организациями, осуществляющими образовательную деятельность,
                            может быть организовано обучение на дому (ч.5 ст.41 Закона)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><b>Основания для организации обучения на дому</b></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            Заключение медицинской организации и письменное заявление законных представителей
                            учащегося (ч.5 ст.41 Закона)
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li><hr/></li>
        <li>
            <h3 class="text-align-center">Нормативные сроки обучения</h3>
            <table>
                <tbody>
                    <tr>
                        <th>Вид образовательной программы</th>
                        <th>Уровень (ступень) образовательной программы</th>
                        <th>Наименование (направленность) образовательной программы</th>
                        <th>Нормативный срок освоения</th>
                    </tr>
                    <tr>
                        <td>Основная</td>
                        <td>Общеобразовательная</td>
                        <td>Начальное общее образование</td>
                        <td>4 года</td>
                    </tr>
                    <tr>
                        <td>Основная</td>
                        <td>Общеобразовательная</td>
                        <td>Основное общее образование</td>
                        <td>5 лет</td>
                    </tr>
                    <tr>
                        <td>Основная</td>
                        <td>Общеобразовательная</td>
                        <td>Среднее общее образование</td>
                        <td>2 года</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li><hr/></li>
        <li>
            <b>Сроки действия государственной аккредитации: до 19.12.2026</b>
            &nbsp;<a href="{% url 'main_docs' %}">(Ссылка)</a>
        </li>
        <li><hr/></li>
        <li>
            <h3>
                <a href="{% url 'educational_programs' %}" style="text-decoration: none">
                    Образовательные программы
                </a>
            </h3>
        </li>
        <li><hr/></li>
        <li>
            <h3>
                <a href="{% url 'annotations' %}" style="text-decoration: none">
                    Рабочие программы
                </a>
            </h3>
        </li>
        <li>
            <h3>
                <a href="{% url 'rp_annots' %}" style="text-decoration: none">
                    Аннотации к рабочим программам
                </a>
            </h3>
        </li>
        <li><hr/></li>
        <li>
            <h3>
                <a href="{% url 'schedule' %}" style="text-decoration: none">
                        Календарный учебный график
                </a>
            </h3>
        </li>
        <li><hr/></li>
        <li>
            <h3><a href="{% url 'methodical_work' %}" style="text-decoration: none">Методические и иные документы</a></h3>
            <br/>
            <h4><a href="{% url 'study' %}">Учебный процесс</a></h4>
        </li>
        <li><hr/></li>
        <li>
            <h4>
                Информация о реализуемых образовательных программах, в том числе о реализуемых адаптированных образовательных программах: <strong>не предусмотрено</strong>
            </h4>
        </li>
        <li><hr/></li
        <li>
            <h3>
                <a href="{% url 'el_dist_study' %}" style="text-decoration: none">
                        Информация об использовании при реализации образовательных программ электронного обучения и дистанционных образовательных технологий
                </a>
            </h3>
        </li>
        <li><hr/></li>
        <li>
            <h3>
                <a href="{% url 'about_standards' %}" style="text-decoration: none">
                        Информация о федеральных государственных образовательных стандартах
                </a>
            </h3>
        </li>
        <li><hr/></li>
        <li>
            <h3>
                Численность обучающихся по реализуемым образовательным
                программам за счет бюджетных ассигнований
            </h3>
            <table>
                <tbody>
                    <tr>
                        <th>Реализуемая образовательная программа</th>
                        <th>Численность обучающихся, чел.</th>
                    </tr>
                    <tr>
                        <td>Образовательная программа начального общего образования</td>
                        <td>393</td>
                    </tr>
                    <tr>
                        <td>Образовательная программа основного общего образования</td>
                        <td>419</td>
                    </tr>
                    <tr>
                        <td>Образовательная программа среднего общего образования</td>
                        <td>57</td>
                    </tr>
                    <tr>
                        <td>Итого</td>
                        <td>869</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li><hr/></li>
        <li>
            <h4>
                <b>Язык обучения:</b>&nbsp;
                русский&nbsp;
                <a href="{% url 'about_language' %}">
                    (положение о языке образования)
                </a>
            </h4>
        </li>
        <li>
            <h4>
                <a href="{% url 'curriculum' %}">Учебный план</a>
            </h4>
        </li>
        <li>
            <h4>
                <a href="{% url 'about_schedules' %}">
                    Расписания работы кружков и секций
                </a>
            </h4>
        </li>
        <li><hr/></li>
    </ul>
{% endblock %}
