{% extends "news.html" %}

{% block title %}
Сведения об образовательной организации - вакантные места для приема(перевода)
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>Вакантные места для приема(перевода)</h2>
    </div>
    <ul style="list-style: none">
        <li><h3><a href="{% url 'vacancies_docs' %}" style="text-decoration: none">Документы</a></h3></li>
        <li><hr/></li>
        <li>
            <h3>Вакантные места</h3>
            <table>
                <tbody>
                    <tr>
                        <th>Класс</th>
                        <th>Количество вакантных мест</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>5</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li><hr/></li>
    </ul>
{% endblock %}
