{% extends "docs_list.html" %}

{% block preceeding %}
    <div class="page-header d-flex justify-content-center">
        <h2>Образовательные стандарты</h2>
    </div>
    <hr/>
    <div class="page-header d-flex justify-content-center">
        <h3>Информация о федеральных государственных образовательных стандартах</h3>
    </div>
    <hr/>
    <div class="d-flex justify-content-center">
        <p>
            МБОУ СОШ №7 реализует:
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <ul style="list-style: none;">
            <li>ФГОС НОО - 1- 4 классы,</li>
            <li>ФГОС ООО - 5 - 9 классы,</li>
            <li>ФГОС СОО - 10 - 11 классы</li>
        </ul>
    </div>
    <div class="d-flex justify-content-center">
        <p>
            Федеральные государственные образовательные стандарты (ФГОС) представляют собой совокупность требований, обязательных при реализации основных образовательных программ начального общего, основного общего, среднего (полного) общего, начального профессионального, среднего профессионального и высшего профессионального образования образовательными учреждениями, имеющими государственную аккредитацию.
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <p>
            Федеральные государственные образовательные стандарты обеспечивают:
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <ol>
            <li>единство образовательного пространства Российской Федерации;</li>
            <li>преемственность основных образовательных программ начального общего, основного общего, среднего (полного) общего, начального профессионального, среднего профессионального и высшего профессионального образования.</li>
        </ol>
    </div>
    <div class="d-flex justify-content-center">
        <p>
            Федеральным законом от 1 декабря 2007 года N 309-ФЗ была утверждена новая структура государственного образовательного стандарта. Теперь каждый стандарт включает 3 вида требований:
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <ol>
            <li>требования к структуре основных образовательных программ, в том числе требования к соотношению частей основной образовательной программы и их объёму, а также к соотношению обязательной части основной образовательной программы и части, формируемой участниками образовательного процесса;</li>
            <li>требования к условиям реализации основных образовательных программ, в том числе кадровым, финансовым, материально-техническим и иным условиям;</li>
            <li>требования к результатам освоения основных образовательных программ.</li>
        </ol>
    </div>
    <div class="d-flex justify-content-center">
        <h3>
            <b>ФГОС</b>&nbsp;
            <a href="https://fgos.ru/" target="_blank" style="text-decoration: none">
                (сайт ФГОС: https://fgos.ru/)
            </a>
        </h3>
    </div>
    <hr/>
{% endblock %}