{% extends "news.html" %}

{% block title %}
Сведения об образовательной организации - Руководство. Педагогический состав
{% endblock %}

{% block content %}
    <div class="page-header d-flex justify-content-center">
        <h2>Руководство. Педагогический состав</h2>
    </div>
    <hr/>
    <ul style="list-style: none">
        <li>
            <b><a href="{% if members %}{% url 'staff_admin' %}{% else %}#{% endif %}" style="text-decoration: none">Администрация МБОУ СОШ №7</a>:</b>
            <ul style="list-style: none">
                {% if members %}
                    {% for staff_member in members %}
                        <li>
                            <p>
                                <b>
                                    <i>
                                        {{ staff_member.chair_position }}:
                                    </i>
                                </b>
                                &nbsp;{{ staff_member.last_name }}
                                &nbsp;{{ staff_member.first_name }}
                                &nbsp;{{ staff_member.middle_name }}
                            </p>
                            <ul style="list-style: none">
                                <li>
                                    <p>
                                        <b><i>Электронная почта:</i></b>&nbsp;
                                        <a href="mailto:{{ staff_member.email }}">
                                            {{ staff_member.email }}
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                {% else %}
                	<li>
                    <p><b><i>Директор:</i></b>&nbsp;Черкасова Марина Николаевна</p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:lobn_sh7@mosreg.ru" style="text-decoration: none">lobn_sh7@mosreg.ru</a>
                            </p>
                        </li>
                        <li>
                            <p>Телефон: +7(495)577-33-53 </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p><b><i>Заместитель директора по УВР:</i></b>&nbsp;Блажко Алевтина Александровна</p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:lobn_sh7@mosreg.ru" style="text-decoration: none">lobn_sh7@mosreg.ru</a>
                            </p>
                        </li>
                        <li>
                            <p>Телефон: +7(495)577-15-21 </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p><b><i>Заместитель директора УВР:</i></b>&nbsp;Якушева Ольга Юрьевна</p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:lobn_sh7@mosreg.ru" style="text-decoration: none">lobn_sh7@mosreg.ru</a>
                            </p>
                        </li>
                        <li>
                            <p>Телефон: +7(495)577-15-21 </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>
                        <b><i>
                            Заместитель директора по учебно-методической работе:
                        </i></b>
                        &nbsp;Ганичкина Марина Павловна
                    </p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:lobn_sh7@mosreg.ru" style="text-decoration: none">lobn_sh7@mosreg.ru</a>
                            </p>
                        </li>
                        <li>
                            <p>Телефон: +7(495)577-15-21 </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>
                        <b><i>
                            Заместитель директора по информатизации образовательного процесса:
                        </i></b>
                        &nbsp;Дорина Татьяна Геннадьевна
                    </p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:lobn_sh7@mosreg.ru" style="text-decoration: none">lobn_sh7@mosreg.ru</a>
                            </p>
                        </li>
                        <li>
                            <p>Телефон: +7(495)577-15-21 </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p><b><i>Заместитель директора по ВР:</i></b>&nbsp;Михальчук Евгения Евгеньевна</p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:lobn_sh7@mosreg.ru" style="text-decoration: none">lobn_sh7@mosreg.ru</a>
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p><b><i>Заместитель директора по безопасности:</i></b>&nbsp; Смирнова Ирина Владимировна</p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:lobn_sh7@mosreg.ru" style="text-decoration: none">lobn_sh7@mosreg.ru</a>
                            </p>
                        </li>
                        <li>
                            <p>Телефон: +7(495)577-15-21 </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p><b><i>Заместитель директора по АХЧ:</i></b>&nbsp;Дмитриева Римма Ришатовна</p>
                    <ul style="list-style: none">
                        <li>
                            <p>
                                <b><i>Электронная почта:</i></b>&nbsp;
                                <a href="mailto:lobn_sh7@mosreg.ru" style="text-decoration: none">lobn_sh7@mosreg.ru</a>
                            </p>
                        </li>
                        <li>
                            <p>Телефон: +7(495)577-15-21 </p>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </li>
        <li><hr/></li>
        <li>
            <a href="{% if members %}{% url 'staff_all' %}{% else %}{% url 'staff_doc' %}{% endif %}" style="text-decoration: none"><b>Педагогический состав МБОУ СОШ №7</b></a>
        </li>
        <li><hr/></li>
    </ul>
{% endblock %}
