{% extends "news.html" %}

{% block title %}
Сведения об образовательной организации - основные сведения
{% endblock %}

{% block content %}

<div class="page-header">
    <h1> Основные сведения </h1>
    <hr />
</div>

<p>
    Образовательная организация МБОУ средняя общеобразовательная школа №7 города Лобня
    создана согласно решению исполкома Лобненского городского совета №991/12 от 31.08.1977 года,
    председатель исполкома Ширинских В.Д.
</p>

<p>Учредителем МБОУ СОШ №7 является <a href="https://лобня.рф/">Администрация города Лобня</a></p>
<p><u>Язык образования:</u> русский</p>
<p><u>Адрес образовательной организации:</u> г. Лобня ул. Букинское шоссе, д.19</p>
<p><u>Контактные телефоны:</u> +7(495)577-15-21; +7(495)577-33-53</p>
<p><u>Электронная почта:</u>&nbsp;<a href="mailto:sosh7lobnya@inbox.ru">sosh7lobnya@inbox.ru</a></p>
<p><u>Режим работы:</u> понедельник-пятница с 8:00 до 18:00</p>
<p><u>Приемные дни директора МБОУ СОШ №7:</u></p>
<ul style="list-style: none">
    <li>Понедельник - с 11:00 до 13:00</li>
    <li>Среда - с 14:00 до 16:00</li>
</ul>

{% endblock %}
