<!DOCTYPE html>
<html lang="ru">
  <head>
    {% block meta %}

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="официальный сайт МБОУ СОШ №7 г.Лобня">
    <meta name="author" content="Кирилл Черкасов">

    {% endblock %}

    <title> {% block title %} {% endblock %} | МБОУ СОШ №7 г.Лобня</title>

    <!-- Bootstrap -->
    {% load static %}

    {% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/adjustments.css' %}" rel="stylesheet">

    {% endblock %}

    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

    <link rel="icon" href="{{ MEDIA_URL }}/pics/favicon.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light alert-primary navbar-fixed-top" role="navigation">
      {% block navigation %}
        <a class="navbar-brand text-primary mb-0" href="{% url 'index' %}">
            <img src="{{ MEDIA_URL }}/pics/mbou-7_300_25p.gif" width="110px" height="110px" class="d-inline-block align-top">
            МБОУ СОШ №7
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="navbar-nav navbar-mr-auto">
            <li class="nav-item dropdown"><a href="#"{%block news_styles%}{% endblock %}>Новости <span class="caret"></span></a> {% block news %}{% endblock %}</li>
            <li class="nav-item dropdown">
              <a href="#" class="dropdown-toggle" id="aboutSchool" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">О школе <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="aboutSchool">
                <a href="{% url 'curriculum' %}" class="dropdown-item">Годовой календарный учебный план</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">История школы</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Символика школы</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'school_standard' %}" class="nav-link">
                    Cтандарт оформления образовательной организации
                </a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'regional_contests' %}" class="dropdown-item">Участие в региональных конкурсах</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'albums_list' %}" class="dropdown-item">Фотогалереи</a>
              </div>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id="aboutOrganization" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Сведения об обр. организации<span class="caret"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="aboutOrganization">
                <h6 class="dropdown-header">Сведения об образовательной организации</h6>
                <div class="dropdown-divider"></div>
                <a href="{% url 'about_main' %}" class="dropdown-item">Главная</a>
                <a href="{% url 'about_general' %}" class="dropdown-item">Основные сведения</a>
                <a href="{% url 'about_structure' %}" class="dropdown-item">
                  Структура и органы управления образовательной организацией
                </a>
                <a href="{% url 'about_docs' %}" class="dropdown-item">Документы</a>
                <a href="{% url 'about_education' %}" class="dropdown-item">Образование</a>
                <a href="{% url 'about_standards' %}" class="dropdown-item">Образовательные стандарты</a>
                <a href="{% url 'about_staff' %}" class="dropdown-item">Руководство. Педагогический состав</a>
                <a href="{% url 'about_mto' %}" class="dropdown-item">
                  Материально-техническое обеспечение и оснащенность образовательного процесса
                </a>
                <a href="{% url 'about_support' %}" class="dropdown-item">
                    Стипендии и иные виды материальной поддержки
                </a>
                <a href="{% url 'about_additional' %}" class="dropdown-item">Платные образовательные услуги</a>
                <a href="{% url 'about_financial' %}" class="dropdown-item">Финансово-хозяйственная деятельность</a>
                <a href="{% url 'about_vacancies' %}" class="dropdown-item">Вакантные места для приема(перевода)</a>
              </div>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id="docsDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Документы <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="docsDropdown">
                <h6 class="dropdown-header">Категории</h6>
                <div class="dropdown-divider"></div>
                {% if cats %}
                  {% for category in cats %}
                    <a href="{{ category.get_url }}" class="dropdown-item">{{ category.name }}</a>
                  {% endfor %}
                  <div class="dropdown-divider"></div>
                {% endif %}
                  <h6 class="dropdown-header"><a href="{% url 'docs_newest' %}">Все документы</a></h6>
              </div>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id="staffDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Коллектив <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="staffDropdown">
                <a href="{% url 'staff_admin' %}" class="dropdown-item">Администрация</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header"><a href="{% url 'staff_all' %}">Педагоги</a></h6>
                <a href="{% url 'staff_elementary' %}" class="dropdown-item">Начальная школа</a>
                <a href="{% url 'staff_not_elementary' %}" class="dropdown-item">Старшие классы</a>
              </div>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id="studyDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Учебный процесс <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="studyDropdown">
                <a href="{% url 'curriculum' %}" class="dropdown-item">Учебный план</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'additional_education' %}" class="dropdown-item">Дополнительное образование</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Этапы обучения</h6>
                <a href="#" class="dropdown-item">Начальные классы</a>
                <a href="#" class="dropdown-item">Средняя школа</a>
                <a href="#" class="dropdown-item">Старшая школа</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Экзамены</h6>
                <a href="#" class="dropdown-item">ЕГЭ</a>
                <a href="#" class="dropdown-item">ГИА</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'methodical_work' %}" class="dropdown-item">Методическая работа</a>
                <div class="divider"></div>
                <a href="#" class="dropdown-item">Электронные сервисы</a>
              </div>
            </li>
          </ul>
        </div>
      {% endblock %}
    </nav>

    <!-- Begin page content -->
    <div class="container-fluid content bg-white">
      <div class="row">
      {% if request.user.is_authenticated %}
        {% block controls %}
          <nav class="col-sm-3 col-md-2 sidebar" role="group" aria-label="controls">
             <div class="page-header">
               <h6 class="text-center">Панель управления</h6>
               <h6 class="text-center">Здравствуйте, {{ request.user.get_full_name }}!</h6>
             </div>
             <ul class="nav flex-column">
               <li class="nav-item">
                   <a href="{% url 'profile-edit' %}" class="nav-link">
                       Редактировать профиль
                   </a>
               </li>
               <li class="nav-item">
                   <a href="{% url 'logout' %}" class="nav-link">
                       Выйти
                   </a>
               </li>
               <li class="nav-item">
                   <span class="separator" role="divider"></span>
               </li>
               <li class="nav-item">
                   <a href="{% url 'add_news' %}" class="nav-link">
                       Добавить новость
                   </a>
               </li>
               {% if request.user.is_superuser %}
               <li class="nav-item">
                   <a href="{% url 'document_add' %}" class="nav-link">
                       Добавить документ
                   </a>
               </li>
               <li class="nav-item">
                   <a href="{% url 'add_staff_member' %}" class="nav-link">
                       Добавить педагога
                   </a>
               </li>
               {% endif %}
               <li class="nav-item">
                   <a href="{% url 'add_album' %}" class="nav-link">
                       Создать фотоальбом
                   </a>
               </li>
               <li class="nav-item">
                   <a href="{% url 'add_photo_choice' %}" class="nav-link">
                       Добавить фотографию
                   </a>
               </li>
               <li class="nav-item">
                 <a href="{% url 'user_management' %}" class="nav-link">
                  {% if request.user.is_superuser %}
                    Управление пользователями
                  {% else %}
                    Список пользователей
                  {% endif %}
                 </a>
               </li>
             </ul>
          </nav>
        {% endblock %}
      {% endif %}
        <main class="{% if request.user.is_authenticated %}col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2{%else%}w-100{% endif %} main clearfix">
          {% block content %}
          {% endblock %}
        </main>
      </div>
    </div>

    <footer class="footer bg-white">
      {% block footer %}
      <div class="container" align = "center">
        <p class="text-muted text-info">&#169; Все права защищены. 2013-{{ year|date:"Y" }}.</p>
      </div>
      {% endblock %}
    </footer>


    {% block scripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>
