{% extends 'news.html' %}

{% if cat_name %}

{% endif %}

{% block title %}{{ title }} {% if query %} по запросу {{ query }} {% endif %}{% endblock %}

{% block content %}
  {% block preceeding %}

  {% endblock %}
  <hr/>
  <div class="page-header">
    <h1 class="text-center">Документы: {% if cat_name %} категория "{{ cat_name }}" {% elif query %} по запросу "{{ query }}" {% else %} по дате добавления {% endif %}</h1>
    <div class="btn-group-lg" align="center">
      <div class="btn-group" role="group">
          <a href="{% url 'docs_newest' %}" class="btn btn-success" role="button">Все документы (по дате добавления)</a>
          <div class="btn-group" role="group">
            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
               Поиск по категории&nbsp;&nbsp;<span class="caret"></span>
            </button>
            {% if categories%}
            <div class="dropdown-menu" role="menu">
              {% for category in categories %}
                <a href="{{ category.get_url }}" class="dropdown-item">{{ category.name }}</a>
                <span class="separator" role="divider"></span>
            {% endfor %}
            </div>
          {% endif %}
          </div>
          <hr/>
          <a href="{% url 'docs_search' %}" class="btn btn-success" role="button">Поиск по названию</a>
      </div>
    </div>
  </div>
  {% if docs %}
    <div class="card-group">
    {% for doc in docs %}
      <div class="card document-{% if forloop.counter|divisibleby:2 %}white{% else %}grey{% endif %}">
        <div class="document-header">
          <h4 class="card-title text-center">
            <a href="{{ doc.url }}">{{ doc.title }}</a>
          </h4>
        </div>
        <div class="card-body">
          <p class="card-text text-center">{{ doc.description }}</p>
        </div>
        <div class="card-body">
          <div class="categories document-categories">
            {% for category in doc.categories.all %}
              <a href="{{ category.get_url }}" class="text-center categories-category categories-category-{{ category.get_color_display }}">{{ category.name }}</a>
            {% endfor %}
          </div>
        </div>
        <div class="card-footer">
          <p class="document-vote-count text-muted small text-center">
            {% if request.user.is_authenticated %}Опубликовано {{ doc.pub_date }} {% endif %}Просмотров: {{ doc.views_count }}
          </p>
        </div>
      </div>
      {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="card-group">
      {% endif %}
      {% if not forloop.counter|divisibleby:2 and forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
    <div class="paginator-block" align="center">
      {% include 'paginator.html' with objects=docs %}
    </div>
  {% else %}
    <h3 class="text-center">Пока не добавлено ни одного документа</h3>
  {% endif %}
{% endblock %}
