{% extends 'news.html' %}

{% if cat_name %}

{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="page-header">
    <h1 class="text-center">Документы: {% if cat_name %} категория "{{ cat_name }}" {% else %} по дате добавления {% endif %}</h1>
    <div class="input-group-lg" align="center">
      <div class="input-group-btn">
        <span class="btn btn-success" type="button">
          <a href="{% url 'docs_newest' %}">Все документы (по дате добавления)</a>
        </span>
      </div>
      <div class="input-group-btn">
        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
           Поиск по категории&nbsp;&nbsp;<span class="caret"></span>
        </button>
        {% if categories%}
          <ul class="dropdown-menu" role="menu">
            {% for category in categories %}
              <li><a href="{{ category.get_url }}">{{ category.name }}</a></li>
              <span class="separator" role="divider"></span>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
  {% if docs %}
    {% for doc in docs %}
      <div class="document document-{% if forloop.counter|divisibleby:2 %}white{% else %}grey{% endif %}">
        <div class="document-data">
          <div class="document-title">
            <a href="{{ doc.url }}">{{ doc.title }}</a>
          </div>
          <p class="document-text">{{ doc.description }}</p>

        </div>
        <div class="document-controls">

          <div class="categories document-categories">
            {% for category in doc.categories.all %}
              <a href="{{ category.get_url }}" class="categories-category categories-category-{{ category.get_color_display }}">{{ category.name }}</a>
            {% endfor %}
          </div>
          <div class="document-vote">
            <span class="document-vote-count text-muted small"> Опубликовано {{ doc.pub_date }} </span>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="paginator-block" align="center">
      {% include 'paginator.html' with objects=docs %}
    </div>
  {% else %}
    <h3 class="text-center">Пока не добавлено ни одного документа</h3>
  {% endif %}
{% endblock %}
