{% extends "news.html" %}

{% block title %}
Электронная газета "Школьная волна"
{% endblock %}

{% block content %}
    <div class="page-header" align="center">
        <h2 class="center"> Электронная газета "Школьная волна"</h2>
    </div>
    <div class="card-group">
    <div class="card document-white">
        <div class="document-header">
          <h4 class="card-title text-center">
            Страница во "ВКонтакте"
          </h4>
        </div>
        <div class="card-body">
          <a class="card-link text center" href="https://vk.com/school7_lobnya_gazeta" target="__blank"> https://vk.com/school7_lobnya_gazeta </a>
        </div>
    </div>
    <div class="card document-grey">
        <div class="document-header">
          <h4 class="card-title text-center">
              Страница в Instagram
          </h4>
        </div>
        <div class="card-body">
          <a class="card-link text-center" href="https://instagram.com/shkolnaiavolna?utm_source=ig_profile_share&igshid=1e8ctj2cwjdaa" target="__blank">https://instagram.com/shkolnaiavolna?utm_source=ig_profile_share&igshid=1e8ctj2cwjdaa</a>
        </div>
    </div>
    </div>

{% endblock %}