{% extends "news.html" %}

{% block title %} Главная {% endblock %}

{% block content %}

<div class="page-header">
  <h1 class="text-center"> Добро пожаловать на сайт МБОУ СОШ №7 г.Лобня! </h1>
</div>
<div class="media d-flex justify-content-center ">
<div class="card w-75 border-light" align="center" >
  <div class="card-body">
    <h2 class="card-title">Уважаемые родители и обучающиеся!</h5>
    <h3 class="card-text">В период с 17 марта по 12 апреля 2020 года в школах Московской области организовано дистанционное обучение с использованием двух платформ: онлайн-школы "Фоксфорд" и сервиса "Д/З-онлайн". </h3>
    <h3 class="card-text">Онлайн-школа Фоксфорд: <a class="card-link" href="https://kmo.foxford.ru" target="__blank">kmo.foxford.ru</a></h3>
    <h3 class="card-text"><a class="card-link" href="https://docs.google.com/document/d/1eVmZASJ0CyKJECCMP9gRqoSUD7BCR6kSBS5gh1haXgo/edit" target="__blank">Инструкция для учеников</a></h3>
    <h3 class="card-text"><a class="card-link" href="https://docs.google.com/document/d/1QILPNbi-9_NQFU43XLsQt3LV8S3IXdAMC4Fc2IlBJlE/edit" target="__blank">Инструкция для учителей</a></h3>
    <h3 class="card-text"><a class="card-link" href="https://docs.google.com/document/d/1kfHvP0OPYMR0ymE_XTjMTIsFz9N0_4xnTdoBm520SbU/preview" target="__blank">Инструкция для классных руководителей</a></h3>
    <h3 class="card-text">Сервис ДЗ-онлайн - раздел "Приложения" на Школьном портале</h3>
  </div>
  <div class="card-body">
      <img src="{{ MEDIA_URL }}/pics/diedu.jpg"/>
  </div>
  <div class="card-body">
      <h4 class="card-title">Горячая линия "Родительский контроль школьного питания в МБОУ СОШ №7: <br/>8(968)418-16-08</h5>
  </div>
</div>
</div>

<span class="divider" role="separator"></span>

<div class="media d-flex justify-content-center">
<div class="card-deck w-50">
  {% for entry in top_news %}
  <div class="card w-50">
    {% if entry.pic %}
    <img class="card-img-top" src="{{ entry.pic_url }}" alt="Card image cap">
    {%endif%}
    <div class="card-body">
      <h5 class="card-title">{{ entry.title }}</h5>
      <p class="card-text">{{ entry.content }}</p>
      <p class="card-text text-muted">{% if user.is_authenticated %}Опубликовано {{ n.pub_date }} {% endif %}Просмотров: {{ n.views_count }}</p>
      <a href="{{ entry.doc_url }}" class="card-link btn btn-primary">Подробнее</a>
     </div>
  </div>
      {% if forloop.counter|divisibleby:2 %}
  </div>
  </div>
  <div class="media d-flex justify-content-center">
  <div class="card-deck w-50">
  {% endif %}
      {% if not forloop.counter|divisibleby:2 and forloop.last %}
        </div>
        </div>
      {% endif %}
  {% endfor %}

<span class="divider" role="separator"></span>

{% endblock %}
