{% if objects.has_other_pages %}
  <nav aria-label="pages">
    <ul class="pagination pagination-lg justify-content-center">
        <li class="page-item {% if not objects.has_previous %}disabled{%endif%}">
          <a class="page-link" aria-label="Previous" href="{% if objects.has_previous %}?{{ objects.key }}={{ objects.previous_page_number }}{% else %}#{% endif %}" title="Пред.">
            <span>&laquo;</span>
          </a>
        </li>
      {% for page in objects.paginator.page_range %}
        {% if page == objects.number %}
          <li class="page-item active">
            <a class="page-link" href="#">
                <span>{{ page }}</span>
            </a>
          </li>
        {% elif page > objects.from_left and page < objects.from_right and page != objects.number %}
          <li class="page-item">
            <a href="?{{ objects.key }}={{ page }}" class="page-link">
              <span>{{ page }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
        <li class="page-item {% if not objects.has_next %}disabled{%endif%}">
          <a class="page-link" aria-label="Next" href="{% if objects.has_next %}?{{ objects.key }}={{ objects.next_page_number }}{% else %}#{% endif %}" title="След.">
            <span>&raquo;</span>
          </a>
        </li>
    </ul>
  </nav>
{% endif %}
