{% extends "news.html" %}

{% block title %}
Коллектив: {% block subtitle %} {% endblock %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2 class="text-center">Коллектив школы: {% block content_subtitle %}{% endblock %}</h2>
    </div>
    <hr/>
    <table class="table table-striped table-hover">
        <thead class="bg-primary text-white">
            <tr>
                <th class="text-center">Фамилия</th>
                <th class="text-center">Имя</th>
                <th class="text-center">Отчество</th>
                <th class="text-center">Стаж, лет</th>
                <th class="text-center">Категория</th>
                <th class="text-center">Предмет</th>
                <th class="text-center">Является администрацией(должность)</th>
                <th class="text-center">Совместитель</th>
                <th class="text-center">Эл.почта</th>
                {% if request.user.is_authenticated %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if members %}
                {% for staff_member in members %}
                    <tr>
                        <td>{{ staff_member.last_name }}</td>
                        <td>{{ staff_member.first_name }}</td>
                        <td>{{ staff_member.middle_name }}</td>
                        <td>{{ staff_member.experience }}</td>
                        <td>{{ staff_member.category.title }}</td>
                        <td>{{ staff_member.subject.title }}</td>
                        <td>
                            {% if staff_member.is_chairman %}
                                {{ staff_member.chair_position }}
                            {% else %}
                                Нет
                            {% endif %}
                        </td>
                        <td>
                            {% if staff_member.is_combiner %}
                                Да
                            {% else %}
                                Нет
                            {% endif %}
                        </td>
                        <td>
                            <a href="mailto:{{ staff_member.email }}">{{ staff_member.email }}</a>
                        </td>
                        {% if request.user.is_authenticated %}
                            <td>
                                <a href="{{ staff_member.get_edit_url }}" class="btn btn-primary">
                                    Редактировать
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}
