        <div class="row prefooter-block">
            <div class="media d-flex prefoot justify-content-center text-primary">
                <div class="d-flex w-100 justify-content-center">
			     <p style="text-align:center; color:#00A0DC; font-size: 11px">
		             <a alt="информационно-образовательные ресурсы">
			             <b>— полезные ссылки —</b>
			         </a>
	             </p>
	             </div>
	             <div class="w-100"></div>
	             <div class="d-flex col w-100 justify-content-center">
			     <a class="site" target="_blank" href="http://президент.рф/">
				     <span>ПРЕЗИДЕНТ РОССИЙСКОЙ ФЕДЕРАЦИИ</span>
                     <em>президент.рф</em>
                 </a>
                 <a class="site" target="_blank" href="http://edu.gov.ru/">
				     <span>МИНИСТЕРСТВО ПРОСВЕЩЕНИЯ РОССИЙСКОЙ ФЕДЕРАЦИИ</span>
                     <em>edu.gov.ru</em>
                 </a>
                 <a class="site" target="_blank" href="http://edu.ru/">
				     <span>«РОССИЙСКОЕ ОБРАЗОВАНИЕ»</span>
                     <em>edu.ru</em>
                 </a>
				  <a class="site" target="_blank" href="http://mo.mosreg.ru/">
				     <span>МИНИСТЕРСТВО ОБРАЗОВАНИЯ МОСКОВСКОЙ ОБЛАСТИ</span>
					 <em>mo.mosreg.ru</em>
				 </a>
                 </div>
	             <div class="w-100"></div>
                 <div class="d-flex col w-100 justify-content-center">
                 <a class="site" target="_blank" href="http://window.edu.ru/">
				     <span>«ЕДИНОЕ ОКНО ДОСТУПА К ОБРАЗОВАТЕЛЬНЫМ РЕСУРСАМ»</span>
                     <em>window.edu.ru</em>
                 </a>
                 <a class="site" target="_blank" href="http://school-collection.edu.ru/">
				 <span>ЕДИНАЯ КОЛЛЕКЦИЯ ЦИФРОВЫХ ОБРАЗОВАТЕЛЬНЫХ РЕСУРСОВ</span>
                     <em>school-collection.edu.ru</em>
                 </a>
                 <a class="site" target="_blank" href="http://fcior.edu.ru/">
				     <span>ФЦИОР</span>
                     <em>fcior.edu.ru</em>
                 </a>
                 <a class="site" target="_blank" href="http://ege.edu.ru/">
				     <span>ОФИЦИАЛЬНЫЙ ИНФОРМАЦИОННЫЙ ПОРТАЛ ЕГЭ</span>
                     <em>ege.edu.ru</em>
				 </a>
				 </div>
	             <div class="w-100"></div>
				 <div class="d-flex col w-100 justify-content-center">
                 <a class="site" target="_blank" href="http://лобня.рф/">
				     <span>Городской округ Лобня официальный сайт</span>
					 <em>лобня.рф</em>
				 </a>
				  <a class="site" target="_blank" href="http://uolobnya.ru/">
				     <span>официальный сайт Управления образования г. Лобня</span>
					 <em>uolobnya.ru</em>
				 </a>
                 <a class="site" target="_blank" href="http://vestnik.edu.ru/">
				     <span>ОФИЦИАЛЬНОЕ ИЗДАНИЕ «ВЕСТНИК ОБРАЗОВАНИЯ»</span>
                     <em>vestnik.edu.ru</em>
                 </a>
				 <a class="site" target="_blank" href="http://ug.ru/">
				     <span>«Учительская газета»</span>
					 <em>ug.ru</em>
				 </a>
				 </div>
	             <div class="w-100"></div>
				 <div class="d-flex col w-100 justify-content-center">
				     <a class="site" target="_blank" href="https://bus.gov.ru/info-card/240112">
				        <span>Результаты независимой оценки качества гос. (мун.) организаций</span>
					    <em>bus.gov.ru</em>
				     </a>
				 </div>
            </div>
        </div>