{% extends "news.html" %}

{% block title %}
Электронные сервисы
{% endblock %}

{% block content %}
<div class="card-group">
    <div class="card document-white">
        <a href="http://президент.рф/" target="_blank">
            <div class="card-header">
                <h5>Сайт Президента Российской Федерации</h5>
            </div>
            <div class="card-body">
                <em>ПРЕЗИДЕНТ.РФ</em>
            </div>
        </a>
    </div>
    <div class="card document-grey">
        <a href="https://edu.gov.ru/" target="_blank">
            <div class="card-header">
                <h5>Министерство просвещения Российской Федерации</h5>
            </div>
            <div class="card-body">
                <em>edu.gov.ru</em>
            </div>

        </a>
    </div>
    <div class="card document-white">
        <a href="http://edu.ru/" target="_blank">
            <div class="card-header">
                <h5>&laquo;Россйское Образование&raquo;</h5>
            </div>
            <div class="card-body">
                <em>edu.ru</em>
            </div>
        </a>
    </div>
    <div class="card document-grey">
        <a href="http://window.edu.ru/" target="_blank">
            <div class="card-header">
                <h5>Единое окно доступа к образовательным ресурсам</h5>
            </div>
            <div class="card-body">
                <em>window.edu.ru</em>
            </div>
        </a>
    </div>
</div>
<div class="card-group">
    <div class="card document-white">
        <a href="http://mo.mosreg.ru/" target="_blank">
            <div class="card-header">
                <h5>Министерство Образования Московской Области</h5>
            </div>
            <div class="card-body">
                <em>mo.mosreg.ru</em>
            </div>

        </a>
    </div>
    <div class="card document-grey">
        <a href="http://school-collection.edu.ru" target="_blank">
            <div class="card-header">
                <h5>Единая коллекция цифровых образовательных ресурсов</h5>
            </div>
            <div class="card-body">
                <em>school-collection.edu.ru</em>
            </div>
        </a>
    </div>
    <div class="card document-white">
        <a href="http://fcior.edu.ru" target="_blank">
            <div class="card-header">
                <h5>Федеральный центр информационно-образовательных ресурсов</h5>
            </div>
            <div class="card-body">
                <em>fcior.edu.ru</em>
            </div>
        </a>
    </div>
    <div class="card document-grey">
        <a href="http://www.vestnik.edu.ru/" target="_blank">
            <div class="card-header">
                <h5>Официальное издание &laquo;Вестник образования&raquo;</h5>
            </div>
            <div class="card-body">
                <em>vestnik.edu.ru</em>
            </div>
        </a>
    </div>
</div>
<div class="card-group">
    <div class="card document-white">
        <a href="http://ege.edu.ru/" target="_blank">
            <div class="card-header">
                <h5>Официальный портал ЕГЭ</h5>
            </div>
            <div class="card-body">
                <em>ege.edu.ru</em>
            </div>
        </a>
    </div>
    <div class="card document-grey">
        <a href="http://лобня.рф/" target="_blank">
            <div class="card-header">
                <h5>Официальный сайт городского округа Лобня</h5>
            </div>
            <div class="card-body">
                <em>лобня.рф</em>
            </div>
        </a>
    </div>
    <div class="card document-white">
        <a href="http://www.uolobnya.ru/" target="_blank">
            <div class="card-header">
                <h5>Официальный сайт Управления Образования городского округа Лобня</h5>
            </div>
            <div class="card-body">
                <em>uolobnya.ru</em>
            </div>
        </a>
    </div>
    <div class="card document-grey">
        <a href="http://ug.ru/" target="_blank">
            <div class="card-header">
                <h5>&laquo;Учительская газета&raquo;</h5>
            </div>
            <div class="card-body">
                <em>ug.ru</em>
            </div>
        </a>
    </div>
</div>
<div class="card-group">
    <div class="card document-grey">
        <a href="https://bus.gov.ru/info-card/240112" target="_blank">
            <div class="card-header">
                <h6>Результаты независимой оценки качества государственных (муниципальных) организаций</h6>
            </div>
            <div class="card-body">
                <em>bus.gov.ru</em>
            </div>
        </a>
    </div>
</div>

{% endblock %}